body {
    margin: 0px;
    background-color: #fffafa;
}

h1 {
    color: #f6a09a;
}

a {
    text-decoration: none;
    color: black;
}


.main-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-input {
    height: 20px;
    border-radius: 30px;
    border: 1px solid #F6A09A;
    color: #F6A09A;
    padding: 20px;
}

.search-input:focus {
    outline: none !important;
    border: 1px solid #F6A09A !important;
}

::placeholder {
    color: #F6A09A;
    text-align: center;
}

.center-search-element {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.search-back-btn-container {
    width: 100%;
    display: flex;
    justify-content: start;
}

.search-back-btn {
    color: #F6A09A;
}

.search-card-container {
    cursor: pointer;
    padding-top: 65px;
    width: 650px;
}

.spinner-border {
    color: #F6A09A !important;
}

.water {
    background-color: #58ABF6;
}

.fire {
    background-color: #FDE4E2;
}

.grass {
    background-color: #D8F3E9;
}

.electric {
    background-color: #FED86D;
}

.ground {
    background-color: #CE854D;
}

.bug {
    background-color: #B4D24A;
}

.normal {
    background-color: #E3DA69;
}

.poison {
    background-color: #B5799E;
}

.fairy {
    background-color: #C83270;
}

.fighting {
    background-color: #C98027;
}

.psychic {
    background-color: #534374;
}

.rock {
    background-color: #62BDBE;
}

.more-btn {
    color: white;
    background-color: #F6A09A;
}

.more-btn:hover {
    color: #F6A09A;
    background-color: white;
    border: 1px solid #F6A09A;
}

.spinner-border {
    --bs-spinner-width: 10rem;
    --bs-spinner-height: 10rem;
}

.card {
    cursor: pointer;
}

.card-img-container {
    display: flex;
    justify-content: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.card-img-container:hover {
    transform: scale(1.1);
}

.card-img-top {
    width: 50%;
}

.types {
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.custom-btn {
    border-radius: 20px !important;
    background: inherit;
    color: black;
    border-color: #FDE4E2;
}

.home-card-type {
    width: 35%;
    background: inherit;
    border: 2px solid white;
    border-radius: 10px;
    padding: 8px;
    text-align: center;
    font-weight: bold;
}

.popUp-main-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popUp-container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.popUp {
    width: 450px;
    border: none;
    border-radius: 20px;
}

.pokemon-popUp {
    padding: 20px;
}

.popUp-head {
    display: flex;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}

.popUp-body {
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 24px;
    padding-left: 8px;
    padding-right: 8px;
    gap: 16px;
}

.body-info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 24px;
    gap: 24px;
}

.pokemon-popUp-container {
    background-color: white;
    border: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding-top: 30px;
}

.pokemon-popUp-img {
    height: 160px;
    margin-bottom: -35px;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
}

.pokemon-popUp-img:hover {
    transform: scale(1.1);
}

.pokemon-evolution-container {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-bottom: 25px;
}

.pokemon-evolution-content {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.pokemon-evolution-img {
    height: 80px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.pokemon-evolution-img:hover {
    transform: scale(1.1);
}

.pokemon-evolution-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-border-radius {
    border-radius: 6px;
    overflow: hidden;
}

.table-head-title {
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.1s ease-in-out;

}

.table-head-title:hover {
    transform: scale(1.1);
}

.more-button-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.fa-arrow-circle-left,
.fa-arrow-circle-right {
    font-size: 60px;
    color: white;
}

.arrow {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.arrow:hover {
    transform: rotate(360deg);
}

@media(max-width: 550px) {
    .main-header {
        flex-direction: column;
    }

    form {
        flex-direction: column;
    }

    .center-search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width: 680px) {
    .search-card-container {
        width: auto;
    }

    .popUp-container {
        flex-direction: column;
    }

    .fa-arrow-circle-left,
    .fa-arrow-circle-right {
        font-size: 44px;
    }

    .popUp {
        width: 380px;
    }

    .table-head-title {
        font-size: 16px;
    }
}

@media(max-width: 410px) {
    .pokemon-evolution-container {
        padding: 0px;
    }

    .pokemon-evolution-img {
        height: 62px;
    }

    .popUp {
        width: auto;
    }
}

@media(max-width: 310px) {
    .home-card-type {
        font-size: 12px;
    }

    .table-head-title {
        font-size: 14px;
    }

    .body-info-item {
        font-size: 12px;
    }

    .pokemon-popUp-img {
        height: 130px;
    }
}