html {
    font-family: 'Kalam', cursive;
    background-color: rgb(61, 131, 85);
}

body {
    margin: 0px;
}

h1 {
    margin: 5px;
    font-size: 50px;
}

a {
    color: black;
}

.container-trash i {
    font-size: 25px;
    margin: 20px 0px;
    padding: 10px;
    cursor: pointer;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.main-container:focus {
    outline: 0;
}

.content-container {
    width: 660px;
    height: 250px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: -2px 0px 6px 0px rgb(0, 0, 0, 0.2);
    border-color: black;

}

.input-container {
    padding: 5px;
}

input {
    border: none;
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    font-size: 19px;
    font-weight: 700;
    color: black !important;
    font-family: 'Kalam', cursive;
    background-color: rgb(61, 131, 85);
    cursor: pointer;

}

input::placeholder {
    color: black;
}

input:focus {
    outline-width: 0;
}

.textarea-container {
    padding: 5px;
}

textarea {
    border: none;
    overflow: hidden;
    resize: none;
    box-sizing: border-box;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    font-family: 'Kalam', cursive;
    background-color: rgb(61, 131, 85);
    cursor: pointer;
}

textarea::placeholder {
    color: black;
}

textarea:focus {
    outline-width: 0;
}

.save-button-container {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}

.save-button {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(61, 131, 85);
    font-weight: 600;
    cursor: pointer;
    font-size: 18px;
}

.save-button:hover {
    background-color: rgb(65, 173, 103);
}

.notes-container {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    gap: 15px;
}

.note {
    width: 300px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}

.note-content {
    word-wrap: break-word;
}

.button-container {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.undoButton {
    margin-top: 10px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.deleteButton {
    margin-top: 10px;
    font-size: 25px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.deleteButton i {
    color: rgb(150, 5, 5);
}

.title-container {
    text-align: center;
    font-size: 50px;
}

.back-link i {
    padding: 5px;
    margin-left: 5px;
    font-size: 25px;
}

@media(max-width: 560px) {
    h1 {
        font-size: 40px;
    }
}

@media(max-width: 390px) {
    h1 {
        font-size: 35px;
    }
}

@media(max-width: 260px) {
    h1 {
        font-size: 28px;
    }
}