@font-face {
    font-family: 'Zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Zabars', 'Arial', 'Helvetica', 'sans-serif';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('./img/5_background/desert.png');
    background-position: center;
}

h1 {
    font-size: 4rem;
    letter-spacing: 1rem;
}

canvas {
    background-color: black;
    display: block;
}


@media only screen and (max-width: 720px) {
    h1 {
        font-size: 3rem;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    h1 {
        display: none;
    }

    canvas {
        height: 100vh;
    }
}