@font-face {
    font-family: 'Zabars';
    src: url('./fonts/zabars.ttf') format('truetype');
}

body {
    margin: 0;
    font-family: 'Zabars', 'Arial', 'Helvetica', 'sans-serif';
    background-image: url('./img/5_background/desert.png');
    background-position: center;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.canvas-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.start-page {
    display: flex;
    width: 720px;
    height: 480px;
    position: absolute;
    background-image: url('img/9_intro_outro_screens/start/startscreen_1.png');
    background-position: center;
    background-size: 720px 480px;
    border-radius: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.start-button {
    position: absolute;
    top: 7%;
    left: 40%;
    padding: 10px;
    font-family: 'Zabars', 'Arial', 'Helvetica', 'sans-serif';
    font-size: 45px;
    font-weight: 400;
    color: #e4ecec;
    background-color: #ff9600;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.icons-container {
    padding: 10px;
}

.info-btn,
.mute-btn,
.full-screen-btn {
    font-size: 30px;
    margin-left: 5px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    transition: transform 0.2s ease-in-out;
}

.info-btn:hover,
.mute-btn:hover,
.full-screen-btn:hover {
    transform: scale(1.2);
}

.start-button:hover {
    background-color: #e4ecec;
    color: #ff9600;
    border: 1px solid #ff9600;
}

canvas {
    display: block;
    background-color: black;
    border-radius: 10px;
}

h1 {
    font-size: 4.5rem;
    letter-spacing: 1rem;
    margin-bottom: 80px;
}

@media only screen and (max-width: 720px) {

    .canvas-container {
        width: 100%;
        justify-content: center;
        margin-top: 0px;
    }

    h1 {
        font-size: 3rem;
    }

    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) and (orientation: landscape) {
    h1 {
        display: none;
    }

    canvas,
    .start-page {
        width: 100%;
        height: 100vh;
        border-radius: 0px;
    }
}